<h1>Welcome to Couple's Adventures!</h1>

<h2>Please log in below</h2>
<%=  form_tag login_index_path do %>
    <ul>
    <li>
        <%= label_tag :name %>
        <%= text_field_tag :name %>
    </li>
    <li>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
    </li>
    </ul>
    <%= submit_tag "Log in" %>
<%end%>


<h2> Follow this link to create a new account!</h2>
    <%= link_to "Create Account", new_user_path %>