 <% if  flash[:errors]%>
    <% flash[:errors].each do |message| %>
        <p><%= message %></p>
    <%end%>
<%end%>

<%= form_for @diary do |f|%>
    <%= f.hidden_field :user_id, value: @logged_in_user.id%>
    <%= f.label :shipname %>
    <%= f.text_field :shipname %>

    <%= f.label :person1 %>
    <%= f.text_field :person1 %>

    <%= f.label :person2 %>
    <%= f.text_field :person2 %>

    <%= f.submit %>
<%end%>