<h1> Add A New Picture To Your Album! </h1>

<%= form_for @entry do |f|%>
    <%= f.hidden_field :album_id, value: @logged_in_user.album.frist.id%>
    <%= f.label :date %>
    <%= f.date_field :date %>

    <%= f.label :url %>
    <%= f.text_field :url %>
    
    <%= f.label :album_id %>
    <%= f.collection_select :album_id, Album.all, :id, :name %>

    <%= f.submit "Add Picture" %>
<%end%>