<div class = "container">
    <% if  flash[:errors]%>
    <% flash[:errors].each do |message| %>
        <p><%= message %></p>
        <%end%>
    <%end%>
            <h1>Create a User!</h1>

            <%= form_for @user do |f| %>
                <ul>
                <li>
                    <%= f.label :name %>
                    <%= f.text_field :name %>
                </li>
                <li>
                    <%= f.label :password %>
                    <%= f.password_field :password %>
                </li>
                </ul>
                <%= f.submit "Create your User" %>
            <% end %>
</div>