<div class ="container">
    <div class = "row text-center">
        <div class = "col col-md-12">
            <img src= "https://media.giphy.com/media/JRsQiAN79bPWUv43Ko/giphy.gif" style="height:100px" />
            <h1 style = "margin-top: 2%"> <%= @album.name %></h1>
        </div>
    </div>
    <div class = "row text-center">
        <% @album.pictures.map do |picture| %>
            <div class = "col col-md-4">
                <%= picture.parsed_date %>
                <br>
                <a href="<%=picture_path(picture)%>%">
                <img src= "<%= picture.url %>" style="height:100px" />
                </a>
                <%= button_to "Delete", picture, method: :delete%>
                <br>
            </div>
        <%end%>
    </div>

    <div class = "row text-center">
        <div class = "col col-md-12">
            <%= form_for @picture do |f|%>
            <%= f.hidden_field :album_id, value: @album.id%>
                <%= f.label :date %>
                <%= f.date_field :date %>
                <br>
                <%= f.label :url %>
                <%= f.text_field :url %>
                <br>
                <%= f.submit "Add Picture to Album" %>
            <%end%>
        </div>
    </div>
</div>