<!DOCTYPE html>
<html>
  <head>
    <title>💕Couple's Adventures</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
  </head>

  <body style= "background-color: #ffffff">


  <div id = "navbar">
    <ul>
         <% if @logged_in_user %>
            <li>♡ Logged In As <%= @logged_in_user.name%> </li>
            <li>♡ <%= link_to "Home", user_path(@logged_in_user)%></li>
            <li>♡ <%= link_to "Log Out", logout_path, method: :delete %></li>
          <% else %>
            <li>♡ <%= link_to "Log In", new_login_path%></li>
            <li>♡ <%= link_to  "Sign up", new_user_path%></li>
          <% end %>
      </ul>
  </div>
    <%= yield %>
  </body>
</html>