<!DOCTYPE html>
<html>
  <head>
    <title>CouplesAdventuresApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style= "background-color: #f4c2c2">
    <header>

      <% if @logged_in_user %>
        Logged In As <%= @logged_in_user.name%>
          <%= form_tag user_path(@logged_in_user), method: :get do %>
            <%= button_tag "Home" %>
          <% end %>
          <%= form_tag logout_path, method: :delete do %>
            <%= button_tag "Logout" %>
          <% end %>
      <% else %>
        <%= link_to  "Log In", new_login_path%>
        <%= link_to  "Sign up", new_user_path%>
      <% end %>


    </header>


    <%= yield %>
  </body>
</html>
