<%# <div class = "container" style= "margin-top: 5%">
    <div class = "row text-center">
        <div class = "col col-md-2"> </div>
        <div class = "col col-md-10"><h1> %>
            <img src="https://media1.giphy.com/media/9NaMJmQoQrKog/giphy.gif" style = "margin-bottom: 3%" height="100" width="100">
             <% if  flash[:errors]%>
                <% flash[:errors].each do |message| %>
                    <p><%= message %></p>
                <%end%>
            <%end%>
            <%= form_for @entry do |f|%>
                <%= f.hidden_field :diary_id, value: @logged_in_user.diaries.first.id%>
                <%= f.label :date %>
                <%= f.date_field :date %>
                <br>
                <%= f.label :title %>
                <%= f.text_field :title %>
                <br>
                <%= f.label :description %>
                <%= f.text_field :description %>
                <br>
                <%= f.label :picture_id %>
                <%= f.collection_select :picture_id, @logged_in_user.pictures.all,:id, :url  %> <!--update after session lesson  -->
                <br>
                <%= f.submit %>
            <%end%>
        </div>
        <div class = "col col-md-2"> </div>
    </div>
</div>
