<h1> <%= @entry.title %></h1>



<a href= <%= picture_path(@entry.picture)%>> 
    <img src= "<%= @entry.picture.url %>"/> 
</a>

<p> <%= @entry.date %> </p>
<p> <%= @entry.description %></p>

<%= button_to "Edit this Memory", edit_entry_path, method: :get%>
<%= button_to "Delete this Memory", @entry, method: :delete%>